<div class="menu">
  <img id="logo-banner" src="../../assets/logo.png" class="mx-auto mt-2 navbar-toggler" width="10%" >

  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <a id="logo" class="navbar-brand navbar-toggler" href="#" ata-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <img src="../../assets/logo.png" width="30" class="d-inline-block align-top" alt="">
        Diócesis de valledupar
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link move-section" href="#blkInformation">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link move-section" href="#blkServices">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link move-section" href="#blkSocial">Acerca de</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div id="blkInformation" class="container">
  <H6 class="title-section">ESTIMADOS FELIGRESES</H6>
  <h2 class="title-section">NUESTROS SERVICIOS</h2>
</div>

<div id="blkServices" class="container">
  <h3 class="title-section">ACERCA DE</h3>
</div>

<div id="blkSocial" class="container">

</div>
